<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ data.imgPath }}static/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ data.imgPath }}static/apple-touch-icon-152x152.png" />
        <link rel="icon" type="image/png" href="{{ data.imgPath }}static/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="{{ data.imgPath }}static/favicon-16x16.png" sizes="16x16" />
        <meta name="application-name" content="{{ data.siteTitle }}"/>
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" content="{{ data.imgPath }}static/mstile-144x144.png" />
        <meta property="og:title" content="{{ data.siteTitle }}" />
        <meta property="og:url" content="{{ data.siteRoot }}" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="{{ data.siteRoot ~ '/dist/images/' }}static/og.jpg?v={{ 'now'|date('U') }}" />
        {%- if data.siteDescription is not empty -%}
            <meta property="og:description" content="{{ data.siteDescription }}" />
        {%- endif -%}
        <meta property="og:site_name" content="{{ data.siteTitle }}">
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@vivienkaufinger" />
        <meta name="twitter:creator" content="@vivienkaufinger" />
        <meta name="twitter:title" content="@vivienkaufinger" />
        <meta name="twitter:image" content="{{ data.siteRoot ~ '/dist/images/' }}static/og.jpg?v={{ 'now'|date('U') }}">
        {%- if data.siteDescription is not empty -%}
            <meta name="twitter:description" content="{{ data.siteDescription }}" />
            <meta name="description" content="{{ data.siteDescription }}">
        {%- endif -%}
        <title>
            {%- if data.siteTitle is not empty -%}
                {{- data.siteTitle -}}
            {%- endif -%}
        </title>
        <link rel="canonical" href="{{ data.siteRoot }}" />
        <link href="./dist/styles/main.min.css?v={{ 'now'|date('U') }}" rel="stylesheet">
    </head>
    <body class="blobs-loading">
        <div class="svg-sprite">
            {%- include '../../../dist/images/svg-sprite.twig' ignore missing -%}
        </div>
        <div id="main-wrapper" class="main-wrapper  vs-section">
            {% include './header.twig' %}
            <main>
                {% block content %}{% endblock content %}
            </main>
            {% include './footer.twig' %}
        </div>
        <canvas id="blob-canvas" class="blobs"></canvas>
        <script defer src="./dist/scripts/main.min.js?v={{ 'now'|date('U') }}" charset="utf-8"></script>
        {%- if data.trackingID is not empty -%}
            <script async src="https://www.googletagmanager.com/gtag/js?id={{ data.trackingID }}"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', '{{ data.trackingID }}');
            </script>
        {%- endif -%}
    </body>
</html>
