<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="57x57" href="{{ data.imgPath }}/static/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ data.imgPath }}/static/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ data.imgPath }}/static/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ data.imgPath }}/static/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ data.imgPath }}/static/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ data.imgPath }}/static/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ data.imgPath }}/static/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ data.imgPath }}/static/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ data.imgPath }}/static/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="{{ data.imgPath }}/static/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ data.imgPath }}/static/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ data.imgPath }}/static/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ data.imgPath }}/static/favicon/favicon-16x16.png">
        <link rel="manifest" href="{{ data.imgPath }}/static/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ data.imgPath }}/static/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <meta property="og:title" content="Vivien Kaufinger" />
        <meta property="og:url" content="{{ data.siteRoot }}" />
        <meta property="og:image" content="https://dummyimage.com/600x400/000/fff&text=VK" />
        {%- if data.siteDescription is not empty -%}
        <meta property="og:description" content="{{ data.siteDescription }}" />
        {%- endif -%}
        <meta property="og:site_name" content="Vivien Kaufinger">
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@vivienkaufinger" />
        <meta name="twitter:creator" content="@vivienkaufinger" />
        <meta name="twitter:title" content="@vivienkaufinger" />
        <meta name="twitter:image" content="https://dummyimage.com/600x400/000/fff&text=VK">
        {%- if data.siteDescription is not empty -%}
            <meta name="twitter:description" content="{{ data.siteDescription }}" />
            <meta name="description" content="{{ data.siteDescription }}">
        {%- endif -%}
        <title>
            {%- if page.title is not empty -%}
                {{- page.title ~ ' | ' -}}
            {%- endif -%}
            {%- if data.siteTitle is not empty -%}
                {{- data.siteTitle -}}
            {%- endif -%}
        </title>
        <link rel="canonical" href="{{ data.siteRoot }}" />
        <!-- inject-css dist/styles/critical.css -->
        <link rel="preload" href="./dist/styles/main.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript><link rel="stylesheet" href="./dist/styles/main.css"></noscript>
    </head>
    <body class="blobs-loading">
        <div class="svg-sprite">
            {%- include '../../../dist/images/svg-icons.twig' ignore missing -%}
        </div>
        <div id="main-wrapper" class="main-wrapper  vs-section">
            {% include './header.twig' %}
            <main>
                {% block content %}{% endblock content %}
            </main>
            {% include './footer.twig' with { position: 'top' } %}
            {% include './footer.twig' with { position: 'bottom' } %}
        </div>
        <canvas id="blob-canvas" class="blobs"></canvas>
        <script>
            var mediasToLoad = [
                {%- for project in data.projects -%}
                    '{{- data.imgPath ~ project.poster -}}',
                    '{{- data.imgPath ~ project.video -}}'
                    {%- if not loop.last %},{% endif -%}
                {%- endfor -%}
            ];
        </script>
        <script defer src="./dist/scripts/main.min.js" charset="utf-8"></script>
        {%- if data.trackingID is not empty -%}
            <script>
                window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
                ga('create', {{ data.trackingID }}, 'auto');
                ga('send', 'pageview');
            </script>
            <script async src='https://www.google-analytics.com/analytics.js'></script>
        {%- endif -%}
    </body>
</html>
