<section class="projects">
    <div class="container-fluid">
        <h2 class="invisible">
            {{- 'Selected projects' -}}
        </h2>
        <div class="projects__list">
            {% for project in data.projects %}
                <article class="project  row  center-xs  middle-lg">
                    <header class="project__header  col-xs-12" data-speed="-0.25">
                        <h3 class="project__title">
                            {{- project.title -}}
                        </h3>
                        <div class="project__cta">
                            <a class="project__cta-link" href="{{ project.url }}" target="_blank">
                                {{- 'Visit the website' -}}
                            </a>
                        </div>
                    </header>
                    <div class="project__poster  col-xs  first-xs" data-speed="0">
                        <div class="project__poster-inner">
                            <div class="project__poster-video">
                                <video class="project__poster-player" src="{{ data.imgPath ~ project.video }}" poster="{{ data.imgPath ~ project.poster}}" muted loop></video>
                            </div>
                            <div class="project__poster-shadow" style="box-shadow: 0 0 100px 70px {{ project.color }};"></div>
                        </div>
                    </div>
                    <ul class="project__infos  col-xs-12  col-md  end-md">
                        <li class="project__infos-item">
                            {{- project.client -}}
                        </li>
                        <li class="project__infos-item">
                            {{- project.description -}}
                        </li>
                        <li class="project__infos-item">
                            {{- '@' ~ project.team ~ ' - ' ~ project.year -}}
                        </li>
                    </ul>
                </article>
            {% endfor %}
        </div>
    </div>
</section>
